{"openapi":"3.1.0","info":{"title":"Pinnacle API","summary":"Live events, full market depth, and the latest bindable prices.","description":"The **Pinnacle API** gives you real-time sports betting markets: live events,\nfull market depth, and the latest bindable prices — served over clean, typed\nJSON and grouped into a small, predictable set of endpoints.\n\nThe surface mirrors the well-known Pinnacle line API, so if you have integrated\nagainst it before the request and response shapes will feel familiar:\n\n- **Odds** — live spreads, totals and moneylines for a sport (`/v4/odds`).\n- **Fixtures** — the events and leagues on offer for a sport (`/v3/fixtures`).\n- **In-Running** — live game state (period and elapsed clock) for started events\n  (`/v2/inrunning`).\n- **Client** — your funded-account balance (`/v1/client/balance`).\n- **Markets** — richer, event-scoped helpers: list sports, browse a sport's live\n  events with their main markets, expand the full market set for one event, and\n  fetch the latest bindable price for a single selection.\n\n## Polling model\n\nThe odds and fixtures endpoints use a long-poll delta model. Each response\ncarries a `last` version cursor; pass it back as `?since=<last>` on the next call\nand you receive only what has changed. When nothing has advanced, the list comes\nback empty — that is the idle response, not an error.\n\n## Authentication\n\nEvery request must be authenticated with **HTTP Basic** credentials — the\nusername and password issued to you by pinc000. Send them on every call using the\nstandard `Authorization: Basic <base64(username:password)>` header; most HTTP\nclients do this for you when you supply a username and password.\n\nRequests without valid credentials receive **`401 Unauthorized`**. In the\ninteractive docs, click **Authorize** and enter your credentials to try the\nendpoints directly from this page.\n\nIf you need credentials, or believe yours have been compromised, contact pinc000\nto have them issued or rotated.\n","version":"0.1.0"},"servers":[{"url":"https://api.pinc000.com","description":"Production"}],"paths":{"/v1/client/balance":{"get":{"tags":["Client"],"summary":"Account balance","description":"Current funded-account balance, `ClientBalanceResponse`-shaped.\n\n`availableBalance` / `currency` come straight from the Pinnacle account-balance\ncall; `outstandingTransactions` / `givenCredit` are surfaced only when the\nprovider payload carries them.","operationId":"client_balance_v1_client_balance_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientBalance"}}}}},"security":[{"HTTPBasic":[]}]}},"/v3/fixtures":{"get":{"tags":["Fixtures"],"summary":"Fixtures for a sport","description":"Events (leagues + fixtures) for a sport, `FixturesResponse`-shaped.\n\nReads the same warm book as `/sports/{sport}/events`; the first call for a\ncold sport warms it and may return few/no events until it fills. `last` is the\nbook's live version cursor — poll again with `?since=last`; when nothing has\nadvanced the `league` list comes back empty (the long-poll idle response).","operationId":"fixtures_v3_fixtures_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","title":"Sportid"}},{"name":"since","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Since"}},{"name":"isLive","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Islive"}},{"name":"eventIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"title":"Eventids"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixturesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/odds":{"get":{"tags":["Odds"],"summary":"Live odds for a sport","description":"Live odds for a sport, `OddsResponse` (`Odds_Straight_V4`)-shaped.\n\nThe core endpoint: reads the warm `OddsBook` and projects each event's periods\ninto spreads/totals/moneyline. `last` is the book's per-sport version cursor —\npoll with `?since=last` for the long-poll delta model (empty `leagues` while\nnothing has changed). Prices are decimal; `oddsFormat=American` converts.","operationId":"odds_v4_odds_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","title":"Sportid"}},{"name":"oddsFormat","in":"query","required":false,"schema":{"$ref":"#/components/schemas/OddsFormat","default":"Decimal"}},{"name":"since","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Since"}},{"name":"isLive","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Islive"}},{"name":"eventIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"title":"Eventids"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OddsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/inrunning":{"get":{"tags":["In-Running"],"summary":"Live game state","description":"Live game states across the sports whose feeds are already warm,\n`InRunningResponse`-shaped. Reports only started sports — it never opens a new\nfeed — so it is a cheap read over whatever `/v4/odds`/`/sports` already warmed.\n`state`/`elapsed` are derived best-effort from the live period label + clock.","operationId":"inrunning_v2_inrunning_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InRunningResponse"}}}}},"security":[{"HTTPBasic":[]}]}},"/v2/client/balance":{"get":{"tags":["Client"],"summary":"Account balance (v2 alias)","description":"Alias of `/v1/client/balance` at the v2 path — identical payload, for\nclients pinned to the newer version string.","operationId":"client_balance_v2_v2_client_balance_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientBalance"}}}}},"security":[{"HTTPBasic":[]}]}},"/v3/leagues":{"get":{"tags":["Fixtures"],"summary":"Leagues for a sport","description":"Leagues currently on offer for a sport, `LeaguesResponse`-shaped.\n\nDerived from the same warm book as `/v3/fixtures`: every league carrying at\nleast one event in the feed, with its live event count. Warms a cold sport on\nthe first call (few/no leagues until it fills).","operationId":"leagues_v3_leagues_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","title":"Sportid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaguesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/periods":{"get":{"tags":["Fixtures"],"summary":"Betting periods for a sport","description":"The betting periods a sport currently offers, `PeriodsResponse`-shaped.\n\nDerived from the distinct period numbers present in the warm book (0=Match,\n1=1st half, …) with best-effort descriptions. Not the full provider period\ndictionary — only the periods actually on offer right now.","operationId":"periods_v3_periods_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","title":"Sportid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeriodsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/line":{"get":{"tags":["Odds"],"summary":"Price a single line","description":"The current price + line id for one selection, `GetLineResponse`-shaped.\n\nResolves the market coordinate against the warm book, then quotes it via the\nbet-slip path — so the returned `lineId`/`altLineId` and `price` are exactly\nwhat `POST /v4/bets/straight` will bind to (the freshest bindable price, ahead\nof the streamed feed). `status` is NOT_EXISTS when the line is not on offer.","operationId":"line_v4_line_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","title":"Sportid"}},{"name":"eventId","in":"query","required":true,"schema":{"type":"integer","title":"Eventid"}},{"name":"betType","in":"query","required":true,"schema":{"$ref":"#/components/schemas/BetType"}},{"name":"periodNumber","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Periodnumber"}},{"name":"team","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TeamSide"},{"type":"null"}],"title":"Team"}},{"name":"side","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/OverUnder"},{"type":"null"}],"title":"Side"}},{"name":"handicap","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Handicap"}},{"name":"oddsFormat","in":"query","required":false,"schema":{"$ref":"#/components/schemas/OddsFormat","default":"Decimal"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/bets/straight":{"post":{"tags":["Betting"],"summary":"Place a straight bet","description":"Place a single straight bet, `PlaceStraightBetRequest`/`...ResponseV4`-shaped.\n\nBuilds the selection from the body, RE-PRICES it via the bet-slip path (the\nauthoritative bindable price, ahead of the feed), then places it through the\nprovider `buy`. A stale/closed line comes back as PROCESSED_WITH_ERROR without\na placement attempt.\n\nSAFETY: a real call spends money and debits the funded account. Pass\n`?dryRun=true` to run the FULL build-and-price path and return what would be\nsent WITHOUT placing a wager — the way to smoke-test this endpoint. A live\nplacement needs owner sign-off and a funded account.","operationId":"place_straight_bet_v4_bets_straight_post","security":[{"HTTPBasic":[]}],"parameters":[{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Dryrun"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StraightBetRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StraightBetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/bets":{"get":{"tags":["Betting"],"summary":"List placed bets","description":"The account's placed bets, `GetBetsResponse`-shaped, from the provider\n`my-bets`. Field mapping is best-effort (unknown provider keys are preserved\non each entry rather than dropped).","operationId":"bets_v4_v4_bets_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetsResponse"}}}}},"security":[{"HTTPBasic":[]}]}},"/v1/bets":{"get":{"tags":["Betting"],"summary":"List placed bets (v1 alias)","description":"Alias of `/v4/bets` at the v1 path — identical payload.","operationId":"bets_v1_v1_bets_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetsResponse"}}}}},"security":[{"HTTPBasic":[]}]}},"/sports":{"get":{"tags":["Markets"],"summary":"List sports","description":"List the sports and whether each currently has events on offer.","operationId":"sports_sports_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/SportInfo"},"type":"array","title":"Response Sports Sports Get"}}}}},"security":[{"HTTPBasic":[]}]}},"/sports/{sport}/events":{"get":{"tags":["Markets"],"summary":"List a sport's live events","description":"Return the latest feed for a sport: every event currently on, each with\nits main markets (moneyline, handicap, totals).","operationId":"latest_events_sports__sport__events_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"sport","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Sport"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"},"title":"Response Latest Events Sports  Sport  Events Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/events/{event_id}/more-bets":{"get":{"tags":["Markets"],"summary":"Full market set for an event","description":"Return every market for one event: all alternate handicap and total lines,\nteam totals, the corners and bookings markets, and the specials (correct\nscore, both teams to score, goalscorer, half-time/full-time, …). Depth is\nfetched on demand, so the first request for a new event may take a moment.","operationId":"more_bets_events__event_id__more_bets_get","security":[{"HTTPBasic":[]}],"parameters":[{"name":"event_id","in":"path","required":true,"schema":{"type":"integer","title":"Event Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoreBets"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/events/{event_id}/price":{"post":{"tags":["Markets"],"summary":"Price a single selection","description":"The latest bindable price for one selection.\n\nPick a market from the events or more-bets structure and send the selection\n(market, side, line and line id). The returned price is the freshest one —\nslightly ahead of the streamed feed — with stake limits and a status.","operationId":"price_events__event_id__price_post","security":[{"HTTPBasic":[]}],"parameters":[{"name":"event_id","in":"path","required":true,"schema":{"type":"integer","title":"Event Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/_MoneylineReq"},{"$ref":"#/components/schemas/_HandicapReq"},{"$ref":"#/components/schemas/_TotalReq"},{"$ref":"#/components/schemas/_TeamTotalReq"},{"$ref":"#/components/schemas/_SpecialReq"}],"discriminator":{"propertyName":"market","mapping":{"moneyline":"#/components/schemas/_MoneylineReq","handicap":"#/components/schemas/_HandicapReq","total":"#/components/schemas/_TotalReq","team_total":"#/components/schemas/_TeamTotalReq","special":"#/components/schemas/_SpecialReq"}},"title":"Req"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelectionOdds"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"BetType":{"type":"string","enum":["MONEYLINE","SPREAD","TOTAL_POINTS","TEAM_TOTAL_POINTS"],"title":"BetType","description":"`betType` for a straight bet / line lookup (official values)."},"BetsResponse":{"properties":{"straightBets":{"items":{"$ref":"#/components/schemas/PlacedBet"},"type":"array","title":"Straightbets"}},"type":"object","required":["straightBets"],"title":"BetsResponse","description":"`GetBetsResponse`-shaped list of the account's placed straight bets."},"ClientBalance":{"properties":{"availableBalance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Availablebalance"},"outstandingTransactions":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Outstandingtransactions"},"givenCredit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Givencredit"},"currency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Currency"}},"type":"object","title":"ClientBalance","description":"`ClientBalanceResponse`. `availableBalance`/`currency` come from the Pinnacle\naccount-balance call; `outstandingTransactions`/`givenCredit` are included\nonly when the provider payload carries them (omitted otherwise)."},"Event":{"properties":{"id":{"type":"integer","title":"Id"},"sport_id":{"type":"integer","title":"Sport Id"},"sport_name":{"type":"string","title":"Sport Name"},"league_id":{"type":"integer","title":"League Id"},"league_name":{"type":"string","title":"League Name"},"home":{"type":"string","title":"Home"},"away":{"type":"string","title":"Away"},"starts_ms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Starts Ms"},"live":{"type":"boolean","title":"Live"},"score_home":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Score Home"},"score_away":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Score Away"},"period_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Period Label"},"clock":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Clock"},"periods":{"items":{"$ref":"#/components/schemas/Period"},"type":"array","title":"Periods"}},"type":"object","required":["id","sport_id","sport_name","league_id","league_name","home","away","starts_ms","live","score_home","score_away","periods"],"title":"Event"},"FillType":{"type":"string","enum":["NORMAL","FILLANDKILL","FILLMAXLIMIT"],"title":"FillType","description":"How the book should fill a bet whose available stake is below the request."},"Fixture":{"properties":{"id":{"type":"integer","title":"Id"},"parentId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Parentid"},"starts":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starts"},"home":{"type":"string","title":"Home"},"away":{"type":"string","title":"Away"},"rotNum":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rotnum"},"liveStatus":{"type":"integer","title":"Livestatus"},"status":{"type":"string","title":"Status","default":"O"}},"type":"object","required":["id","home","away","liveStatus"],"title":"Fixture"},"FixturesLeague":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"events":{"items":{"$ref":"#/components/schemas/Fixture"},"type":"array","title":"Events"}},"type":"object","required":["id","name","events"],"title":"FixturesLeague"},"FixturesResponse":{"properties":{"sportId":{"type":"integer","title":"Sportid"},"last":{"type":"integer","title":"Last"},"league":{"items":{"$ref":"#/components/schemas/FixturesLeague"},"type":"array","title":"League"}},"type":"object","required":["sportId","last","league"],"title":"FixturesResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"InRunningEvent":{"properties":{"id":{"type":"integer","title":"Id"},"state":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"State"},"elapsed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Elapsed"}},"type":"object","required":["id"],"title":"InRunningEvent"},"InRunningLeague":{"properties":{"id":{"type":"integer","title":"Id"},"events":{"items":{"$ref":"#/components/schemas/InRunningEvent"},"type":"array","title":"Events"}},"type":"object","required":["id","events"],"title":"InRunningLeague"},"InRunningResponse":{"properties":{"sports":{"items":{"$ref":"#/components/schemas/InRunningSport"},"type":"array","title":"Sports"}},"type":"object","required":["sports"],"title":"InRunningResponse"},"InRunningSport":{"properties":{"id":{"type":"integer","title":"Id"},"leagues":{"items":{"$ref":"#/components/schemas/InRunningLeague"},"type":"array","title":"Leagues"}},"type":"object","required":["id","leagues"],"title":"InRunningSport"},"League":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"eventCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Eventcount"},"hasOfferings":{"type":"boolean","title":"Hasofferings","default":true}},"type":"object","required":["id","name"],"title":"League"},"LeaguesResponse":{"properties":{"sportId":{"type":"integer","title":"Sportid"},"leagues":{"items":{"$ref":"#/components/schemas/League"},"type":"array","title":"Leagues"}},"type":"object","required":["sportId","leagues"],"title":"LeaguesResponse"},"LineResponse":{"properties":{"status":{"type":"string","title":"Status"},"price":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Price"},"lineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Lineid"},"altLineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Altlineid"},"minRiskStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Minriskstake"},"maxRiskStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxriskstake"},"minWinStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Minwinstake"},"maxWinStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxwinstake"},"maxPayout":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxpayout"},"effectiveAsOf":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Effectiveasof"}},"type":"object","required":["status"],"title":"LineResponse","description":"`GetLineResponse`-shaped single-line quote. `status` is SUCCESS when a\nprice exists, NOT_EXISTS otherwise. `price` honours `oddsFormat`; `lineId` /\n`altLineId` are what a straight bet binds to; the stake bounds and any live\nscore come from the bet-slip quote."},"Moneyline":{"properties":{"home":{"type":"number","title":"Home"},"draw":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Draw"},"away":{"type":"number","title":"Away"},"line_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Line Id"}},"type":"object","required":["home","draw","away","line_id"],"title":"Moneyline"},"MoreBets":{"properties":{"event_id":{"type":"integer","title":"Event Id"},"goals":{"anyOf":[{"$ref":"#/components/schemas/MoreBetsEvent"},{"type":"null"}]},"corners":{"anyOf":[{"$ref":"#/components/schemas/MoreBetsEvent"},{"type":"null"}]},"bookings":{"anyOf":[{"$ref":"#/components/schemas/MoreBetsEvent"},{"type":"null"}]}},"type":"object","required":["event_id","goals","corners","bookings"],"title":"MoreBets","description":"The decoded more-bets market set for one requested event.\n\n`goals` is the requested event; `corners`/`bookings` are its sibling events\n(each with its own event id). Any may be None in a partial update frame."},"MoreBetsEvent":{"properties":{"id":{"type":"integer","title":"Id"},"sport_id":{"type":"integer","title":"Sport Id"},"home":{"type":"string","title":"Home"},"away":{"type":"string","title":"Away"},"category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"},"periods":{"items":{"$ref":"#/components/schemas/MoreBetsPeriod"},"type":"array","title":"Periods"}},"type":"object","required":["id","sport_id","home","away","category","periods"],"title":"MoreBetsEvent","description":"One child event of a more-bets payload (Goals, Corners or Bookings)."},"MoreBetsPeriod":{"properties":{"number":{"type":"integer","title":"Number"},"moneyline":{"anyOf":[{"$ref":"#/components/schemas/Moneyline"},{"type":"null"}]},"handicaps":{"items":{"$ref":"#/components/schemas/Spread"},"type":"array","title":"Handicaps"},"totals":{"items":{"$ref":"#/components/schemas/Total"},"type":"array","title":"Totals"},"team_totals_home":{"items":{"$ref":"#/components/schemas/Total"},"type":"array","title":"Team Totals Home"},"team_totals_away":{"items":{"$ref":"#/components/schemas/Total"},"type":"array","title":"Team Totals Away"},"specials":{"items":{"$ref":"#/components/schemas/Special"},"type":"array","title":"Specials"}},"type":"object","required":["number","moneyline","handicaps","totals","team_totals_home","team_totals_away","specials"],"title":"MoreBetsPeriod","description":"All of one child event's markets for a single period (0=match, 1=1st\nhalf, 2=2nd half)."},"OddsEvent":{"properties":{"id":{"type":"integer","title":"Id"},"homeScore":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Homescore"},"awayScore":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Awayscore"},"periods":{"items":{"$ref":"#/components/schemas/OddsPeriod"},"type":"array","title":"Periods"}},"type":"object","required":["id","periods"],"title":"OddsEvent"},"OddsFormat":{"type":"string","enum":["American","Decimal","HongKong","Indonesian","Malay"],"title":"OddsFormat","description":"`oddsFormat` query values (per the official `/odds` docs). We serve\nDecimal (our native price) and convert to American; the others fall back to\nDecimal."},"OddsLeague":{"properties":{"id":{"type":"integer","title":"Id"},"events":{"items":{"$ref":"#/components/schemas/OddsEvent"},"type":"array","title":"Events"}},"type":"object","required":["id","events"],"title":"OddsLeague"},"OddsMoneyline":{"properties":{"home":{"type":"number","title":"Home"},"away":{"type":"number","title":"Away"},"draw":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Draw"}},"type":"object","required":["home","away"],"title":"OddsMoneyline"},"OddsPeriod":{"properties":{"lineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Lineid"},"number":{"type":"integer","title":"Number"},"cutoff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cutoff"},"status":{"type":"integer","title":"Status","default":1},"spreads":{"items":{"$ref":"#/components/schemas/OddsSpread"},"type":"array","title":"Spreads"},"moneyline":{"anyOf":[{"$ref":"#/components/schemas/OddsMoneyline"},{"type":"null"}]},"totals":{"items":{"$ref":"#/components/schemas/OddsTotal"},"type":"array","title":"Totals"}},"type":"object","required":["number"],"title":"OddsPeriod"},"OddsResponse":{"properties":{"sportId":{"type":"integer","title":"Sportid"},"last":{"type":"integer","title":"Last"},"leagues":{"items":{"$ref":"#/components/schemas/OddsLeague"},"type":"array","title":"Leagues"}},"type":"object","required":["sportId","last","leagues"],"title":"OddsResponse"},"OddsSpread":{"properties":{"altLineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Altlineid"},"hdp":{"type":"number","title":"Hdp"},"home":{"type":"number","title":"Home"},"away":{"type":"number","title":"Away"}},"type":"object","required":["hdp","home","away"],"title":"OddsSpread"},"OddsTotal":{"properties":{"altLineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Altlineid"},"points":{"type":"number","title":"Points"},"over":{"type":"number","title":"Over"},"under":{"type":"number","title":"Under"}},"type":"object","required":["points","over","under"],"title":"OddsTotal"},"OverUnder":{"type":"string","enum":["OVER","UNDER"],"title":"OverUnder","description":"`side` for totals / team totals."},"Period":{"properties":{"number":{"type":"integer","title":"Number"},"spreads":{"items":{"$ref":"#/components/schemas/Spread"},"type":"array","title":"Spreads"},"totals":{"items":{"$ref":"#/components/schemas/Total"},"type":"array","title":"Totals"},"moneyline":{"anyOf":[{"$ref":"#/components/schemas/Moneyline"},{"type":"null"}]}},"type":"object","required":["number","spreads","totals","moneyline"],"title":"Period"},"PeriodInfo":{"properties":{"number":{"type":"integer","title":"Number"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["number"],"title":"PeriodInfo"},"PeriodsResponse":{"properties":{"sportId":{"type":"integer","title":"Sportid"},"periods":{"items":{"$ref":"#/components/schemas/PeriodInfo"},"type":"array","title":"Periods"}},"type":"object","required":["sportId","periods"],"title":"PeriodsResponse"},"PlacedBet":{"properties":{"betId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Betid"},"wagerNumber":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Wagernumber"},"betStatus":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Betstatus"},"betType":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Bettype"},"sportId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sportid"},"leagueId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Leagueid"},"eventId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Eventid"},"placedAt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Placedat"},"periodNumber":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Periodnumber"},"team1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team1"},"team2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team2"},"stake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stake"},"win":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Win"},"risk":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Risk"},"price":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Price"}},"additionalProperties":true,"type":"object","title":"PlacedBet","description":"One placed bet, projected from the provider `my-bets` payload. The common\nfields are surfaced by name; anything else the provider returns is preserved\n(extra allowed), so no data is lost even though the mapping is best-effort."},"SelectionOdds":{"properties":{"status":{"type":"string","title":"Status","default":""},"odds":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Odds"},"lineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Lineid"},"altLineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Altlineid"},"minStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Minstake"},"maxStake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxstake"},"maxStakeWin":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxstakewin"},"maxPayout":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Maxpayout"},"originalOdds":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Originalodds"},"lastOdds":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lastodds"},"betType":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bettype"},"betTypeDisp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Bettypedisp"},"periodNum":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Periodnum"},"handicap":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Handicap"},"eventId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Eventid"},"homeTeam":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hometeam"},"awayTeam":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Awayteam"},"selection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Selection"},"contestantName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contestantname"},"eventName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eventname"},"category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"},"inplay":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Inplay"}},"additionalProperties":true,"type":"object","title":"SelectionOdds","description":"One selection's freshest price from the bet-slip endpoint.\n\n`odds` is the current bindable decimal price; `status` is \"OK\" /\n\"ODDS_CHANGE\" / \"UNAVAILABLE\". `line_id` is the current price id and\n`alt_line_id` the stable alternate-line id (0 for a main line). Fields the\nserver returns but that aren't modelled here are still kept (extra fields are\npreserved), so nothing is lost."},"Special":{"properties":{"selection_id":{"type":"integer","title":"Selection Id"},"name":{"type":"string","title":"Name"},"category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"},"bet_type":{"type":"string","title":"Bet Type"},"period":{"type":"integer","title":"Period"},"max_stake":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Stake"},"selections":{"items":{"$ref":"#/components/schemas/SpecialSelection"},"type":"array","title":"Selections"}},"type":"object","required":["selection_id","name","category","bet_type","period","max_stake","selections"],"title":"Special","description":"A self-describing exotic market (wire `se[i]`): correct score, BTTS,\ndouble chance, goalscorer, HT/FT, winning margin, odd/even, etc. Unlike the\nstructured grids these carry their own names, so no positional guessing."},"SpecialSelection":{"properties":{"id":{"type":"integer","title":"Id"},"line_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Line Id"},"name":{"type":"string","title":"Name"},"price":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Price"},"handicap":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Handicap"}},"type":"object","required":["id","line_id","name","price","handicap"],"title":"SpecialSelection","description":"One pickable outcome inside a `Special` market (wire `l[i]`)."},"Sport":{"type":"integer","enum":[29,3,33,4,19,12],"title":"Sport"},"SportInfo":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"has_offerings":{"type":"boolean","title":"Has Offerings"},"event_count":{"type":"integer","title":"Event Count"}},"type":"object","required":["id","name","has_offerings","event_count"],"title":"SportInfo"},"Spread":{"properties":{"hdp":{"type":"number","title":"Hdp"},"home":{"type":"number","title":"Home"},"away":{"type":"number","title":"Away"},"line_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Line Id"},"main":{"type":"boolean","title":"Main"}},"type":"object","required":["hdp","home","away","line_id","main"],"title":"Spread"},"StraightBetRequest":{"properties":{"oddsFormat":{"$ref":"#/components/schemas/OddsFormat","default":"Decimal"},"uniqueRequestId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Uniquerequestid"},"acceptBetterLine":{"type":"boolean","title":"Acceptbetterline","default":true},"stake":{"type":"number","title":"Stake"},"winRiskStake":{"$ref":"#/components/schemas/WinRiskType","default":"RISK"},"lineId":{"type":"integer","title":"Lineid"},"altLineId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Altlineid"},"fillType":{"anyOf":[{"$ref":"#/components/schemas/FillType"},{"type":"null"}]},"sportId":{"type":"integer","title":"Sportid"},"eventId":{"type":"integer","title":"Eventid"},"periodNumber":{"type":"integer","title":"Periodnumber","default":0},"betType":{"$ref":"#/components/schemas/BetType"},"team":{"anyOf":[{"$ref":"#/components/schemas/TeamSide"},{"type":"null"}]},"side":{"anyOf":[{"$ref":"#/components/schemas/OverUnder"},{"type":"null"}]},"handicap":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Handicap"}},"type":"object","required":["stake","lineId","sportId","eventId","betType"],"title":"StraightBetRequest","description":"`PlaceStraightBetRequest`-shaped body. Identify one selection by its market\ncoordinates (`sportId`/`eventId`/`periodNumber`/`betType` + `team`/`side`/\n`handicap`) plus the `lineId` (and `altLineId` for an alternate line) from\n`/v4/odds` or `/v4/line`; the server re-prices before it fills."},"StraightBetResponse":{"properties":{"status":{"type":"string","title":"Status"},"errorCode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Errorcode"},"uniqueRequestId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Uniquerequestid"},"betId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Betid"},"betStatus":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Betstatus"},"betterLineWasAccepted":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Betterlinewasaccepted"},"price":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Price"},"dryRun":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Dryrun"}},"type":"object","required":["status"],"title":"StraightBetResponse","description":"`PlaceStraightBetResponseV4`-shaped result. `status` is ACCEPTED when the\nbet was placed, PROCESSED_WITH_ERROR otherwise (then `errorCode` explains).\n`betId`/`betStatus` are set on acceptance; `price` echoes the filled odds."},"TeamSide":{"type":"string","enum":["TEAM1","TEAM2","DRAW"],"title":"TeamSide","description":"`team` for moneyline/spread/team-total picks. TEAM1=home, TEAM2=away."},"Total":{"properties":{"points":{"type":"number","title":"Points"},"over":{"type":"number","title":"Over"},"under":{"type":"number","title":"Under"},"line_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Line Id"},"main":{"type":"boolean","title":"Main"}},"type":"object","required":["points","over","under","line_id","main"],"title":"Total"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WinRiskType":{"type":"string","enum":["WIN","RISK"],"title":"WinRiskType","description":"Whether `stake` is the amount to win or to risk."},"_HandicapReq":{"properties":{"market":{"type":"string","const":"handicap","title":"Market"},"period":{"type":"integer","title":"Period","default":0},"side":{"type":"string","enum":["home","away"],"title":"Side"},"hdp":{"type":"number","title":"Hdp"},"line_id":{"type":"integer","title":"Line Id"}},"type":"object","required":["market","side","hdp","line_id"],"title":"_HandicapReq"},"_MoneylineReq":{"properties":{"market":{"type":"string","const":"moneyline","title":"Market"},"period":{"type":"integer","title":"Period","default":0},"side":{"type":"string","enum":["home","away","draw"],"title":"Side"},"line_id":{"type":"integer","title":"Line Id"}},"type":"object","required":["market","side","line_id"],"title":"_MoneylineReq"},"_SpecialReq":{"properties":{"market":{"type":"string","const":"special","title":"Market"},"period":{"type":"integer","title":"Period","default":0},"market_id":{"type":"integer","title":"Market Id"},"contestant_id":{"type":"integer","title":"Contestant Id"},"line_id":{"type":"integer","title":"Line Id"}},"type":"object","required":["market","market_id","contestant_id","line_id"],"title":"_SpecialReq"},"_TeamTotalReq":{"properties":{"market":{"type":"string","const":"team_total","title":"Market"},"period":{"type":"integer","title":"Period","default":0},"team":{"type":"string","enum":["home","away"],"title":"Team"},"side":{"type":"string","enum":["over","under"],"title":"Side"},"points":{"type":"number","title":"Points"},"line_id":{"type":"integer","title":"Line Id"}},"type":"object","required":["market","team","side","points","line_id"],"title":"_TeamTotalReq"},"_TotalReq":{"properties":{"market":{"type":"string","const":"total","title":"Market"},"period":{"type":"integer","title":"Period","default":0},"side":{"type":"string","enum":["over","under"],"title":"Side"},"points":{"type":"number","title":"Points"},"line_id":{"type":"integer","title":"Line Id"}},"type":"object","required":["market","side","points","line_id"],"title":"_TotalReq"}},"securitySchemes":{"HTTPBasic":{"type":"http","scheme":"basic"}}},"tags":[{"name":"Odds","description":"Live spreads, totals and moneylines for a sport, with a long-poll delta cursor."},{"name":"Fixtures","description":"The events and leagues currently on offer for a sport."},{"name":"In-Running","description":"Live game state (period and elapsed clock) for started events."},{"name":"Client","description":"Your funded-account details, such as the available balance."},{"name":"Markets","description":"Browse sports and their live events, expand the full market set for one event, and price a single selection."}]}